.house-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    color: white;
  }

  &__container {
    width: 50%;
    background-color: #222629;
    border-radius: 5px;
    padding: 2em;

    display: flex;
    flex-direction: column;

    &__house {
      &:not(:last-child) {
        border-bottom: 1px white dotted;
      }
    }
  }

  &__house-details {
    width: 50%;
  }
}
