<section class="register">
    <h1 class="register__title">Welcome to the housing browser</h1>
  <div class="register__container">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="handleRegister()"
      class="register__container__form"
    >
      <h2>Register here</h2>
      <div class="register__container__form__subcontainer">
        <label class="register__container__form__subcontainer__label">Username</label>
        <input type="text" placeholder="Username" formControlName="username" class="register__container__form__subcontainer__input" />
      </div>

      <div class="register__container__form__subcontainer">
        <label class="register__container__form__subcontainer__label">Password</label>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="register__container__form__subcontainer__input"
        />
      </div>
      <app-button text="register" type="submit">Submit</app-button>
    </form>
    <p class="register__container__form__link">
      Already have an account? register <a [routerLink]="['/']" class="register__container__form__link-a">here</a
      >!
    </p>
  </div>
</section>
