<section class="register">
    <h1 class="register__title">Welcome to the housing browser</h1>
    
    <div class="register__container">
        <h2 class="register__subtitle">Login here</h2>
        <form action="" class="register__container__form">
            <div class="register__container__form__sub-container">
                <label for="username">Username</label>
                <input type="text" placeholder="Username">
            </div>
            <div class="register__container__form__sub-container">
                <label for="password">Password</label>
                <input type="password" placeholder="Username">
            </div>
    
            <input type="submit" value="register" class="register__container__form__btn">
    
        </form>

        <p>Already have an account? Login here</p>

    </div>

    
</section>