.remove-btn {
    padding: 0.5em 1em;
    margin: 1em;
    border: none;
    border-radius: 3px;
    background-color: #d41912;
    color:white;
  
  
    &:hover {
      background-color: white;
      color: #d41912;
    }
  }