<section class="login">
    <h1 class="login__title">Welcome to the housing browser</h1>
  <div class="login__container">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="handleLogin()"
      class="login__container__form"
    >
      <h2>Login here</h2>
      <div class="login__container__form__subcontainer">
        <label class="login__container__form__subcontainer__label">Username</label>
        <input type="text" placeholder="Username" formControlName="username" class="login__container__form__subcontainer__input" />
      </div>

      <div class="login__container__form__subcontainer">
        <label class="login__container__form__subcontainer__label">Password</label>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          class="login__container__form__subcontainer__input"
        />
      </div>
      <app-button text="Login" type="submit">Submit</app-button>
    </form>
    <p class="login__container__form__link">
      Don't have an account yet? Register <a [routerLink]="['/register']" class="login__container__form__link-a">here</a
      >!
    </p>
  </div>
</section>
