.login {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #05386b;
    width: 50vh;
    height: 50vh;

    border-radius: 5px;
    box-shadow: 1px 1px 10px #03213f;

    &__form{
      display: flex;
      flex-direction: column;
      margin: 2em;

      &__label{
        margin: 0.5em 0em;

        &__toggle{
          margin-left: .5em;
        }
      }
    }

    &__link {
      color: white;
      text-decoration: none;

      &:hover {
        color: gray;
      }
    }
  }
}
