<section class="login">
    <h1 class="login__title">Welcome to the housing browser</h1>
    
    <div class="login__container">
        <h2 class="login__subtitle">Login here</h2>
        <form action="" class="login__container__form">
            <div class="login__container__form__sub-container">
                <label for="username">Username</label>
                <input type="text" placeholder="Username">
            </div>
            <div class="login__container__form__sub-container">
                <label for="password">Password</label>
                <input type="password" placeholder="Username">
            </div>
    
            <input type="submit" value="Login" class="login__container__form__btn">
    
        </form>

        <p>Don't have an account yet? Register here</p>

    </div>

    
</section>