.add-house {
  background-color: #222629;
  padding: 2em;
  margin: 1em;
  border-radius: 5px;
  color: white;

  &__form {
    display: grid;
    grid-template-columns: 3;

    &__container {
      display: flex;
      flex-direction: column;
      margin: 0.5em;

      &label {
        margin: 1em 0;
      }
      &input {
        margin: 0.5em 0;
      }
    }

    &__btn {
      padding: 0.5em 1em;
      margin: 1em;
      border: none;
      border-radius: 3px;
      background-color: #85c232;
      color: white;

      &:hover {
        background-color: white;
        color: #85c232;
      }
    }
  }
}
